---
- name: Configure system
  hosts: localhost
  connection: local

  vars:
    brew_packages:
      - act  # github actions local testing
      - colima
      - docker
      - git
      - localstack
      - mas  # Mac Apple Store CLI
      - starship
      - stow
      - vim
      - zsh-completions
    brew_casks:
      - claude
      - claude-code
      - chromium
      - firefox@developer-edition
      - iterm2
      - jetbrains-toolbox
      - keepassxc  # provides keepassxc-cli
      - obsidian  # text editor
      - proton-drive
      - proton-pass
      - protonvpn
      - rectangle  # tiling window manager
      - virtualbox
      - yubico-authenticator  # security key TOTP
    dotfiles_dir: "{{ playbook_dir }}/../dotfiles"
    dotfile_packages:
      - git
      - ssh
      - vim
      - zsh
    store_apps:
      - 497799835  # XCode
      - 897283731  # Strongbox
      - 409183694  # Keynote
      - 409203825  # Numbers
      - 409201541  # Pages

  tasks:
    - name: Install Homebrew packages
      when: ansible_os_family == "Darwin"
      community.general.homebrew:
        name: "{{ brew_packages }}"
        state: present
        update_homebrew: true

    - name: Stow dotfiles
      ansible.builtin.command:
        cmd: stow --adopt -d {{ dotfiles_dir }} -t {{ ansible_env.HOME }} {{ item }}
      loop: "{{ dotfile_packages }}"
      register: stow_result
      changed_when: stow_result.rc == 0

    - name: Install Homebrew casks
      when: ansible_os_family == "Darwin"
      community.general.homebrew_cask:
        name: "{{ brew_casks }}"
        state: present

    - name: Install Apple Store Apps
      when: ansible_os_family == "Darwin"
      become: true
      ansible.builtin.command:
        cmd: mas install {{ store_apps | join(' ') }}
      register: app_store_result
      changed_when: "'Already installed' not in app_store_result.stdout"
      failed_when: app_store_result.rc != 0 and 'Already installed' not in app_store_result.stdout
